{{>common/header}}
<!-- Page Header-->
<header class="masthead"
        style="background-image: url('https://codepresso-online-platform-public.s3.ap-northeast-2.amazonaws.com/java-web/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{article.title}}</h1>
                    <span class="meta"> Posted by {{article.username}} </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4" style="min-height: 400px">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center pb-5">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="edit_btns">
                    <button onclick="history.back()">목록</button>
                </div>
                <p>{{article.content}}</p>
                <input type="hidden" id="article-id" value="{{article.id}}">
                {{#isMyArticle}}
                    <div class="edit_btns">

                        <button><a href="/articles/{{id}}/edit">수정</a></button>
                        <button id="post-delete-button">삭제</button>

                    </div>
                {{/isMyArticle}}
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 my-5">
                <div class="form-floating">
                    <input class="form-control text-sm" id="comment-content" type="text" placeholder="댓글 추가.."/>
                    <label style="font-size: 16px;" for="comment-content" class="text-sm">댓글 추가..</label>
                </div>
                <div class="comment_btn">
                    <button id="comment-save-button">등록</button>
                </div>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 pb-5 mt-5">
                <div class="comment_title">댓글</div>
                {{#comments}}
                    <div class="comment_text">
                        <div class="etc">
                            <div class="name">{{username}}</div>
                        </div>
                        <p>
                            {{content}}
                        </p>
                        <p>{{createdAt}}</p>
                        <div class="edit_btns">
                            <button class="comment-edit-form-button">수정</button>
                            <button class="comment-delete-button">삭제</button>
                        </div>
                        <!--수정 시-->
                        <textarea class="edit comment-edit" cols="10" rows="10"
                                  placeholder="댓글을 입력해주세요"></textarea>
                        <div class="save_btns comment-edit">
                            <button class="comment-edit-cancel-button">취소</button>
                            <button class="save comment-edit-button">저장하기</button>
                        </div>
                        <input type="hidden" class="comment-id" value="">
                    </div>
                {{/comments}}
                <div id="more-comments"></div>
                <div class="d-flex justify-content-center mb-4">
                    <a class="btn btn-primary text-uppercase" id="more-comment-button" current-comment-page="1">MORE
                        comments</a>
                </div>
            </div>
        </div>
    </div>
</article>
{{>common/footer}}